@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "neuton-sc";
    src: url("fonts/Neuton-SC-Extralight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*es necesario escribir esto de font-face por cada fuente? tal vez solo me pareció, pero el navegador creo que reconoce la fuente incluso sin esto*/

@font-face {
    font-family: "alegreya-sc";
    src: url("fonts/AlegreyaSC-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "caladea";
    src: url(fonts/Caladea-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "caladea-bold";
    src: url(fonts/Caladea-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

main {
    background-color: #b9bb8c;
    width: 1583px;
    height: 900px;
    display: flex;
    flex-direction: row;
}

header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #d0d0ab;
    background-color: #6d7037;
    width: 1583px; 
    height: 70px;
    padding-top: 15px;
    box-sizing: border-box;
}

.columna-intro {
    width: 310px;
    background-color: #6d7037;
    text-align: center;
    font-family: "neuton-sc", "alegreya-sc", serif;
    font-size: 30px;
    display: block;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: #d0d0ab;
}

aside {
    width: 310px;
    background-color: #6d7037;
}

section span {
    font-family: "caladea-bold", "alegreya-sc", serif;
    text-transform: uppercase;
}

section {
    width: 963px;
    height: 450;
    display: flex;
    flex-direction: column;
}

.info {
    width: 963px;
    height: 400px;
    font-family: "caladea", "alegreya-sc", serif;
    font-size: 20px;
    color: #232514;
    column-count: 3;
    list-style-position: inside;
    display: block;
    padding: 60px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.obras {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: #505228;
}

aside {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: #d0d0ab;
    line-height: 70px;
}

footer {
    background-color: #6d7037;
    font-family: "caladea", serif;
    font-size: 16px;
    color: #d0d0ab;
    padding: 10px 0px 10px 10px;
    width: 1583px;
    height: 35px;
    box-sizing: border-box;
}
