@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6d7037;
    width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 310px;
    box-sizing: border-box;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #d0d0ab;     
}

aside {
    width: 310px;
    height: 800px;
    background-color: #6d7037;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#foto-ppal {
    padding: 20px;
}

@font-face {
    font-family: "neuton-sc";
    src: url("fonts/Neuton-SC-Extralight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*es necesario escribir esto de font-face por cada fuente? tal vez solo me pareció, pero el navegador creo que reconoce la fuente incluso sin esto*/

@font-face {
    font-family: "alegreya-sc";
    src: url("fonts/AlegreyaSC-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "caladea";
    src: url(fonts/Caladea-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "caladea-bold";
    src: url(fonts/Caladea-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: "neuton-sc", "alegreya-sc", serif;
    color: #d0d0ab;
    font-size: 30px;
}

a:hover {
    color: #839b51;
    font-weight: bolder;
}

main {
    display: flex;
    height: 800px;
    width: 1200px;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
}

article {
    width: 890px;
    height: 280px;
    background-color: #b9bb8c;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "caladea", "alegreya-sc", serif;
    font-size: 20px;
    color: #232514;
    line-height: 30px;
    text-align: center;
}

article span {
    font-family: "caladea-bold", "caladea", "alegreya-sc", serif;
    text-transform: uppercase;
}

.obras {
    width: 890px;
    height: 520px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #b9bb8c;
    position: absolute;
    top: 350px;
    left: 310px;
}

img {
    margin: 10px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #6d7037;
    text-align: center;
    background-color: #b9bb8c;
    width: 890px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
}

section {
    width: 300px;
}

footer {
    width: 1200px;
    font-family: "caladea", serif;
    font-size: 16px;
    background-color: #6d7037;
    color: #d0d0ab;
    box-sizing: border-box;
    padding: 15px;
}